<html>
<body>
<style>
body {
  background-color:#e6fff2;
}

h2 {text-align: center;}
p {text-align: center;}
form {text-align: center;}
</style>

<h2>Welcom to CT Image Viewing System</h2>

<p>Please enter your User ID and Password below.</p>

<form method="POST">
  <label for="userid">User ID:</label><br>
  <input type="text" id="userid" name="userid"><br>
  <label for="pw">Password:</label><br>
  <input type="password" id="pw" name="pw"><br><br>
  <input type="submit" value="Submit">
</form> 



</body>
</html>